<div class="row">
  <div class="col-md-6">
    <img
      src="https://media.gettyimages.com/photos/indias-cricket-team-captain-mahendra-singh-dhoni-poses-with-the-icc-picture-id111487207?s=2048x2048"
      alt="MS Dhoni"
      style="width:100%;height: 100%;"
    />
  </div>
  <div class="col-md-6">
    <h1>MS Dhoni</h1>
    <p class="title">Cricketer | Biker</p>
    <p>Indian National Cricket Team</p>
    <div style="margin: 24px 0;">
      <a href="https://www.instagram.com/mahi7781/?hl=en" target="_blank"
        ><i class="fab fa-instagram fa-3x"></i
      ></a>
      <a href="https://twitter.com/msdhoni?lang=en" target="_blank"
        ><i class="fab fa-twitter fa-3x"></i
      ></a>
      <a href="https://www.facebook.com/MSDhoni/" target="_blank"
        ><i class="fab fa-facebook-f fa-3x"></i
      ></a>
      <a href="https://en.wikipedia.org/wiki/MS_Dhoni" target="_blank"
        ><i class="fab fa-wikipedia-w fa-3x"></i
      ></a>
    </div>
    <p><button class="btn btn-info">Contact</button></p>
  </div>
</div>
